<nav>
  <header class="show">
    <div class="nav-list">
      <button mat-button [matMenuTriggerFor]="menu" class="nav-menu">RBCnet</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu1" class="nav-menu">P&CB</button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu2" class="nav-menu">Insurance</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu3" class="nav-menu">I&TS</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu3" class="nav-menu">Captital Markets</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu3" class="nav-menu">Wealth Management</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu3" class="nav-menu">I&TS</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu3" class="nav-menu">T&O</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu3" class="nav-menu">Dave's Corner</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </header>

</nav>
<div class="app-header">
  <div class="brand">
    <h1 class="brand-title">Thinkerly</h1>
    <span class="brand-desc">A gateway for all your research needs</span>
  </div>
  <div class="app-user-info">
    <ul>
      <li><a class="app-username">Welcome Sandeep</a></li>
      <li><a class="user-sub">Manage my Subscriptions</a></li>

    </ul>
  </div>
  <div class="app-nav">
    <ul class="app-nav-menu">
      <li><a href="">About Thinkerly</a></li>
      <li><a href="">Explore Topics</a></li>
      <li><a href="">Discover Sources</a></li>
      <li><a href="">Get Research Help</a></li>
      <li><a href="">Submit a Research Request</a></li>
    </ul>
  </div>

</div>
<div class="app-main">
  <div class="main-section">
    <div class="main-headline">
      <h1 class="mat-display-1">Knowledge Base</h1>
      <h2>Your go-to place for news updates</h2>
    </div>

  </div>
</div>
